.container {
    width: 90%;
    margin: auto;
    text-align: center;
}
#paginate {
    display: inline-block;
}
.page-link {
    margin: 10px;
    font-size: 22px;
    padding: 4px;
}

.current-page-link {
    background: #aaa;
}

.next-link {
    display: inline-block;
}
